#htmlStyle{
    width: 80%; 
    margin-left: 10%;
    background-color: rgb(209, 185, 156);
}

#nameStyle{
    width: 50%; display: inline-block;
}
#titleStyle{
    width: 40%; display: inline-block;
}

#titleColor{
color:rgb(68, 69, 48);
}

.headerWidth{
    width: 54%;
    display: table-header-group;
}

.profilePicture{
    width: 60px;
    margin-left: 100%;
    border-style: dashed;
    background-color: rgb(122, 92, 92);
}